@import "tailwindcss";

:root {
  --background: #EBF4FF; /* Thoda dark ice blue taaki white na lage */
  --foreground: #0f172a;
  --primary: #00D261;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom right, #eff6ff, #ffffff, #ecfdf5);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: sans-serif;
  overflow-x: hidden;
}

.glass-card {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.04);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}